@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>AI Weather Demo</h3>

<p>This demo is being used to explore the abilities of NLP AI solutions and how they can be used in a conversational manner.</P>
<p>This demo will handle a simple scenario where the user will ask about the weather</p>
<p>Here are the list of AI solutions we are using</p>
<ul>
    <li><a href="http://www.luis.ai">Luis</a></li>
    <li><a href="http://www.ibm.com/smarterplanet/us/en/ibmwatson">IBM Watson</a></li>
    <li><a href="http://www.api.ai">API AI</a></li>
</ul>
