@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2><a href="/apiai">Api.ai</a></h2>
        <p>
              Here the AI solution we will use is <a href="http://www.api.ai/">Api AI</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2><a href="/luis">Luis</a></h2>
        <p>Here the AI solution we will use is <a href="http://www.luis.ai">Luis</a> which is a part of project oxford my microsoft</p>
    </div>
</div>